.toast {
    display: flex;
    align-items: center;
    background-color: #FFF;
    border-radius: 2px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    animation: slideInLeft ease .3s;
   animation: fadeOut linear 1s 3s forwards;
   transition: all linear 0.3s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast + .toast {
    margin-top: 24px;
}.toas__body {
    flex-grow: 1;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}



.toast--success {
    border-color: #47d864;
}
.toast--success .toast__icone {
    color: #47d864;
}

.toast--info {
    border-color: #2f86eb;
}
.toast--info .toast__icone {
    color: #2f86eb;
}

.toast--warning {
    border-color: #ffc021;
}
.toast--warning .toast__icone {
    color: #ffc021;
}

.toast--error {
    border-color: #ff623d;
}
.toast--error .toast__icone {
    color: #ff623d;
}

.toast__icone,
.toast__close {
    padding: 0 16px;
}

.toast__icone {
    font-size: 24px;
}

.toast__close {
    font-size:20px;
    color: rgba(0, 0, 0, 0.3);
}

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
}

.btn--success {
    background-color: #ff623d;
    display: inline-block;
    color: #FFF;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
}
.btn--success:hover {
    opacity: 0.5;
}

.btn--danger {
    background-color:#47d864;
    display: inline-block;
    color: #FFF;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    margin-left:20px;
}
.btn--danger:hover {
    opacity: 0.5;
}

.center {
    text-align: center;
    margin-top: 20%;
}